header{
    display: flex;
    flex-direction: row;
    background: rgb(237, 236, 236);
    border-radius: 15px;
}
video{
    width: 350px;
    height: 350px;
}
.navlist{
    list-style: none;
    display: flex;
    flex-direction: row;
}
ul>li{
    font-family: papyrus;
    padding-right:20px ;
    font-size: 30px;
    margin:10px 10px 10px 10px;
}
header div{
    font-size: 50px;
    font-family: papyrus;
    margin: 10px 10px 10px 50px;
    color: white;
    border-radius: 15px;
    padding:10px 10px 10px 10px;
    background:linear-gradient(45deg,rgb(171, 11, 240),rgb(106, 47, 241));
}
header nav {
    display: flex;
    justify-content: flex-end;
    top: 0;
    right: 0;
    width: 100%;
 }
 .intro{
    font-family:cursive;
 }
 .description{
    display:flex;
    flex-direction: row;
    margin-left: 300px;
    justify-content: space-around;
    flex-wrap: wrap;
 }
 #parent{
    display: flex;
    flex-direction: row;
 }
 .tabs{
    background:rgb(237, 236, 236) ;
    padding:25px 15px 15px 35px;
    border-radius:15px ;
    margin:40px 10px 10px 10px;
    font-family: cursive;
    font-size: 18px;
    display:grid
 }